parameters:
    # Authentication flow:
    # Real Tiqr IdP <--> GSSP Tiqr SP <--> GSSP Tiqr IdP <--> SelfService
    # AuthnRequests from the RA and SS are proxied through the Tiqr GSSP proxy on the Gateway
    # The GSSP Tiqr SP and IdP are hosted on the gateway

    # Tiqr SP used to authenticate to Tiqr IdP though Tiqr IdP proxy in the gateway
    gssp_tiqr_sp_publickey: {{ component_dir_name }}/app/config/sp_tiqr.crt
    gssp_tiqr_sp_privatekey: {{ component_dir_name }}/app/config/sp_tiqr.key

    # Certificate used to sign metadata of the Tiqr SP
    gssp_tiqr_metadata_publickey: {{ component_dir_name }}/app/config/sp_tiqr.crt
    gssp_tiqr_metadata_privatekey: {{ component_dir_name }}/app/config/sp_tiqr.key

    # EntityID and SSO Location of the Tiqr IdP Proxy on the Gateway
    gssp_tiqr_remote_entity_id: 'https://{{ gateway_vhost_name }}/gssp/tiqr/metadata'
    gssp_tiqr_remote_sso_url: 'https://{{ gateway_vhost_name }}/gssp/tiqr/single-sign-on'

    # base64 without pem headers
    gssp_tiqr_remote_certificate: {{ gateway_tiqr_idp_publickey | depem }}

    # GUI
    gssp_tiqr_logo: /images/second-factor/tiqr.png

    # Translations
    gssp_tiqr_alt:
        en_GB: 'Tiqr'
        nl_NL: 'Tiqr'
    gssp_tiqr_title:
        en_GB: 'Tiqr'
        nl_NL: 'Tiqr'
    gssp_tiqr_description:
        en_GB: 'Log in with a smartphone app. For all smartphones with %%tiqr_ios_link_start%%Apple iOS%%tiqr_ios_link_end%% or %%tiqr_android_link_start%%Android%%tiqr_android_link_end%%.'
        nl_NL: 'Log in met een app op je smartphone. Geschikt voor smartphones met %%tiqr_ios_link_start%%Apple iOS%%tiqr_ios_link_end%% of %%tiqr_android_link_start%%Android%%tiqr_android_link_end%%.'
    gssp_tiqr_button_use:
        en_GB: 'Select'
        nl_NL: 'Selecteer'
    gssp_tiqr_initiate_title:
        en_GB: 'Register with Tiqr'
        nl_NL: 'Registreren bij Tiqr'
    gssp_tiqr_initiate_button:
        en_GB: 'Register with Tiqr'
        nl_NL: 'Registreer bij Tiqr'
    gssp_tiqr_explanation:
        en_GB: 'Click the button below to register with Tiqr.'
        nl_NL: 'Klik op de knop hieronder om je bij Tiqr te registreren.'
    gssp_tiqr_authn_failed:
        en_GB: 'Registration with Tiqr has failed. Please try again.'
        nl_NL: 'Registratie bij Tiqr is mislukt. Probeer het nogmaals.'
    gssp_tiqr_pop_failed:
        en_GB: 'Registration of your token failed. Please try again.'
        nl_NL: 'De registratie van uw token is mislukt. Probeer het nogmaals.'


    # Authentication flow:
    # Real Biometric IdP <--> GSSP Biometric SP <--> GSSP Biometric IdP <--> SelfService
    # AuthnRequests from the RA and SS are proxied through the Biometric GSSP proxy on the Gateway
    # The GSSP Biometric SP and IdP are hosted on the gateway

    # Biometric SP used to authenticate to Biometric IdP though Biometric IdP proxy in the gateway
    gssp_biometric_sp_publickey: {{ component_dir_name }}/app/config/sp_biometric.crt
    gssp_biometric_sp_privatekey: {{ component_dir_name }}/app/config/sp_biometric.key

    # Certificate used to sign metadata of the Biometric SP
    gssp_biometric_metadata_publickey: {{ component_dir_name }}/app/config/sp_biometric.crt
    gssp_biometric_metadata_privatekey: {{ component_dir_name }}/app/config/sp_tiqr.key

    # EntityID and SSO Location of the Biometric IdP Proxy on the Gateway
    gssp_biometric_remote_entity_id: 'https://{{ gateway_vhost_name }}/gssp/biometric/metadata'
    gssp_biometric_remote_sso_url: 'https://{{ gateway_vhost_name }}/gssp/biometric/single-sign-on'

    # base64 without pem headers
    gssp_biometric_remote_certificate: {{ gateway_biometric_idp_publickey | default('') | depem }}

    # GUI
    gssp_biometric_logo: '/images/second-factor/biometric.png'

    # Translations
    gssp_biometric_alt:
        en_GB: 'Biometric device'
        nl_NL: 'Biometrisch apparaat'
    gssp_biometric_title:
        en_GB: 'Biometric device'
        nl_NL: 'Biometrisch apparaat'
    gssp_biometric_description:
        en_GB: 'Log in using a biometric device.'
        nl_NL: 'Log in met een biometrisch apparaat.'
    gssp_biometric_button_use:
        en_GB: 'Select'
        nl_NL: 'Selecteer'
    gssp_biometric_initiate_title:
        en_GB: 'Register a biometric device'
        nl_NL: 'Registratie biometrisch apparaat'
    gssp_biometric_initiate_button:
        en_GB: 'Register biometric device'
        nl_NL: 'Registreer biometrisch apparaat'
    gssp_biometric_explanation:
        en_GB: 'Click the button below to register a biometric device.'
        nl_NL: 'Klik op de knop hieronder om je biometrisch apparaat te registreren.'
    gssp_biometric_authn_failed:
        en_GB: 'Registration of biometric device has failed. Please try again.'
        nl_NL: 'Registratie biometrisch apparaat is mislukt. Probeer het nogmaals.'
    gssp_biometric_pop_failed:
        en_GB: 'Registration of your token failed. Please try again.'
        nl_NL: 'De registratie van uw token is mislukt. Probeer het nogmaals.'


    # Authentication flow:
    # Real IRMA IdP <--> GSSP IRMA SP <--> GSSP IRMA IdP <--> SelfService
    # AuthnRequests from the RA and SS are proxied through the IRMA GSSP proxy on the Gateway
    # The GSSP IRMA SP and IdP are hosted on the gateway

    # IRMA SP used to authenticate to IRMA IdP though IRMA IdP proxy in the gateway
    gssp_irma_sp_publickey: {{ component_dir_name }}/app/config/sp_irma.crt
    gssp_irma_sp_privatekey: {{ component_dir_name }}/app/config/sp_irma.key

    # Certificate used to sign metadata of the IRMA SP
    gssp_irma_metadata_publickey: {{ component_dir_name }}/app/config/sp_irma.crt
    gssp_irma_metadata_privatekey: {{ component_dir_name }}/app/config/sp_irma.key

    # EntityID and SSO Location of the IRMA IdP Proxy on the Gateway
    gssp_irma_remote_entity_id: 'https://{{ gateway_vhost_name }}/gssp/irma/metadata'
    gssp_irma_remote_sso_url: 'https://{{ gateway_vhost_name }}/gssp/irma/single-sign-on'

    # base64 without pem headers
    gssp_irma_remote_certificate: {{ gateway_irma_idp_publickey | depem }}

    # GUI
    gssp_irma_logo: /images/second-factor/irma.png

    # Translations
    gssp_irma_alt:
        en_GB: 'IRMA'
        nl_NL: 'IRMA'
    gssp_irma_title:
        en_GB: 'IRMA'
        nl_NL: 'IRMA'
    gssp_irma_description:
        en_GB: 'Log in with a smartphone app. For all smartphones with %%irma_ios_link_start%%Apple iOS%%irma_ios_link_end%% or %%irma_android_link_start%%Android%%irma_android_link_end%%.'
        nl_NL: 'Log in met een app op je smartphone. Geschikt voor smartphones met %%irma_ios_link_start%%Apple iOS%%irma_ios_link_end%% of %%irma_android_link_start%%Android%%irma_android_link_end%%.'
    gssp_irma_button_use:
        en_GB: 'Select'
        nl_NL: 'Selecteer'
    gssp_irma_initiate_title:
        en_GB: 'Register with IRMA'
        nl_NL: 'Registreren bij IRMA'
    gssp_irma_initiate_button:
        en_GB: 'Register with IRMA'
        nl_NL: 'Registreer bij IRMA'
    gssp_irma_explanation:
        en_GB: 'Click the button below to register with IRMA.'
        nl_NL: 'Klik op de knop hieronder om je bij IRMA te registreren.'
    gssp_irma_authn_failed:
        en_GB: 'Registration with IRMA has failed. Please try again.'
        nl_NL: 'Registratie bij IRMA is mislukt. Probeer het nogmaals.'
    gssp_irma_pop_failed:
        en_GB: 'Registration of your token failed. Please try again.'
        nl_NL: 'De registratie van uw token is mislukt. Probeer het nogmaals.'
