<?php

$attributemap = array(
	// urn:mace:dir
	'sn'						=> 'urn:mace:dir:attribute-def:sn',
	'givenName'					=> 'urn:mace:dir:attribute-def:givenName',
	'cn'						=> 'urn:mace:dir:attribute-def:cn',
	'displayName'				=> 'urn:mace:dir:attribute-def:displayName',
	'mail'						=> 'urn:mace:dir:attribute-def:mail',
	'uid'						=> 'urn:mace:dir:attribute-def:uid',
	'eduPersonAffiliation'      => 'urn:mace:dir:attribute-def:eduPersonAffiliation',
	'eduPersonEntitlement'      => 'urn:mace:dir:attribute-def:eduPersonEntitlement',
	'eduPersonPrincipalName'    => 'urn:mace:dir:attribute-def:eduPersonPrincipalName',
	'preferredLanguage' 		=> 'urn:mace:dir:attribute-def:preferredLanguage',
    // urn:mace:terena.org
	'schacHomeOrganization'		=> 'urn:mace:terena.org:attribute-def:schacHomeOrganization',
	'schacHomeOrganizationType'	=> 'urn:mace:terena.org:attribute-def:schacHomeOrganizationType',
);

?>
