<?php
// local options

// TODO: dedicated api server for TEST/PILOT/ACC/PROD
$options['irma_api_server'] = 'https://irma.surfconext.nl';                  // Our IRMA API server
// TODO: host these files locally
$options['irma_web_server'] = 'https://privacybydesign.foundation/tomcat/irma_api_server'; // Hosts some static files
