parameters:
    # All locales supported by the application
    locales: [{{ enabled_locales | join(",") }}]

    # SAML configuration
    saml_idp_publickey: '{{ component_config_file_dir_name }}/cert.pem'
    saml_idp_privatekey: '{{ component_config_file_dir_name }}/key.pem'
    # NOTE: same key used for metadata and response/assertion signing
    saml_metadata_publickey: '{{ component_config_file_dir_name }}/cert.pem'
    saml_metadata_privatekey: '{{ component_config_file_dir_name }}/key.pem'

    saml_remote_sp_entity_id: 'https://{{ selfservice_vhost_name }}/rv/metadata'
    saml_remote_sp_certificate: '{{ component_config_file_dir_name }}/remote_vetting_sp.crt'
    saml_remote_sp_acs: 'https://{{ selfservice_vhost_name }}/second-factor/acs'

    # View parameters
    support_url:
{% for locale, url in webauthn_support_url.items() %}
        {{ locale }}: "{{ url | replace('%', '%%') }}"
{% endfor %}

    support_email: {{ support_email }}

    user_display_name: {{ environment_name }}

    # TODO: Take logo from environment. Use same mechanism as selfservice, RA etc.
    readid_logo: '/images/header-logo.png'
