# Receive messages from local rsyslog
input {
  relp {
    host => '127.0.0.1'
    port => 20514
    type => 'rsyslog'
  }
}

# Decode rsyslog
filter {

  if [type] == "rsyslog" {
    grok {
      match => {
        "message" => "<%{POSINT:syslog_pri}>1 %{TIMESTAMP_ISO8601:syslog_timestamp} %{HOSTNAME:hostname} %{PROG:prog} (%{POSINT:procid}|-) (%{WORD:msgid}|-) %{GREEDYDATA:message}"
      }
      # Replace existing message with decoded message
      overwrite => 'message'
      remove_field => "host"
      add_tag => "syslog_parsed"
    }

    if "syslog_parsed" in [tags] {
      syslog_pri {
        syslog_pri_field_name => "syslog_pri"
        remove_field => ["syslog_facility_code", "syslog_severity_code", "syslog_pri"]
        add_field => [ "severity", "%{syslog_severity}" ]
      }
    }
  }

}
