# Infra suff for middleware

- name: Put parameters.yml
  template: src=parameters.yml.j2 dest={{ component_dir_name }}/config/legacy/parameters.yml mode={{ component_mode_640 }} group={{ component_group }}

- name: Clear and warmup cache
  command: php bin/console cache:clear --env=prod {{ debug_flag }}
  args:
      chdir: "{{ component_dir_name }}"
  when: not (develop | default(false))

- name: Restrict app dir to the application
  file: path={{item}} group={{ component_group }} mode="o=" recurse=yes
  with_items:
  - "{{ component_dir_name }}/var"
  when: not (develop | default(false))

- name: Grant app write access to cache and log dirs
  file: path={{item}} group={{ component_group }} mode={{ component_mode_770 }} recurse=yes
  with_items:
  - "{{ component_dir_name }}/var/cache"
  - "{{ component_dir_name }}/var/logs"
  when: not (develop | default(false))

- name: Put middleware configuration scripts in /root/
  template: src={{ item }}.j2 dest=/root/{{ item }} group=root owner=root mode="500"
  with_items:
  - "01-middleware-db_migrate.sh"
  - "06-middleware-bootstrap-sraa-users.sh"

- name: Put middleware config from environment in /opt/scripts
  template: src={{ inventory_dir }}/templates/middleware/{{ item }}.j2 dest=/opt/scripts/{{ item }} group={{ app_deploy_user }} owner={{ app_deploy_user }} mode="400"
  with_items:
  - "middleware-config.json"
  - "middleware-whitelist.json"
  - "middleware-institution.json"

- name: Put middleware configuration scripts in /opt/scripts
  template: src={{ item}}.j2 dest=/opt/scripts/{{ item }} group={{ app_deploy_user }} owner=root mode=550
  with_items:
  - "middleware-push-config.sh"
  - "middleware-push-whitelist.sh"
  - "middleware-push-institution.sh"


- name: Put symlinks to middleware configuration scripts in /root
  file: src=/opt/scripts/{{ item.key }} dest=/root/{{ item.value }} group={{ app_deploy_user }} owner=root state=link force=true
  with_dict:
    "middleware-push-config.sh": "02-middleware-config.sh"
    "middleware-push-whitelist.sh": "04-middleware-whitelist.sh"
    "middleware-push-institution.sh": "05-middleware-institution.sh"

- name: Set stepup directory rights
  file: path={{ component_dir_name }} state=directory group={{ component_group }} mode={{ component_mode_755 }}
  when: not (develop | default(false))

- name: Activate component
  file: src={{ component_dir_name }} dest=/opt/www/{{ middleware_vhost_name }} state=link


- name: Show database configuration hint
  debug:
    msg: "Note: Database initialisation/migration must be run manually once. Run '/root/01-middleware-db_migrate.sh' and '/root/01-gateway-db_migrate.sh' on an app server."

- name: Show middleware configuration hint
  debug:
    msg: "Note: The configuration of the middleware component using its REST interface must be performed manually. The (updated) configuration was written to the app servers, but is was not pushed to the middleware. Run '/root/02-middleware-config.sh', '/root/04-middleware-whitelist.sh' and '/root/05-middleware-institution.sh' on an app server."

- name: Show SRAA user bootstrap hint
  debug:
    msg: "Note: The first SRAA user(s) must be provisioned manually. Run '/root/06-middleware-bootstrap-sraa-users.sh' on an app server."
