# Configure stepup middleware
---
- name: Put parameters YAML config
  template:
    src: parameters.yml.j2
    dest: "{{ component_config_dir_name }}/parameters.{{ component_config_yaml_extension }}"
    mode: "{{ component_mode_640 }}"
    group: "{{ component_group }}"


# Include ../../deploy/deploy.yml
- name: Deploy Symfony component
  include_role:
    name: deploy
    tasks_from: deploy

# include ../../deploy/activate.yml
- name: Activate Symfony component
  include_role:
    name: deploy
    tasks_from: activate


- name: Put middleware configuration scripts in /root/
  template:
    src: "{{ item }}.j2"
    dest: "/root/{{ item }}"
    group: root
    owner: root
    mode: 0500
  with_items:
  - "01-middleware-db_migrate.sh"
  - "06-middleware-bootstrap-sraa-users.sh"

- name: Put middleware config from environment in /opt/scripts
  template:
    src: "{{ inventory_dir }}/templates/middleware/{{ item }}.j2"
    dest: "/opt/scripts/{{ item }}"
    group: "{{ app_deploy_user }}"
    owner: "{{ app_deploy_user }}"
    mode: 0400
  with_items:
  - "middleware-config.json"
  - "middleware-whitelist.json"
  - "middleware-institution.json"

- name: Put middleware configuration scripts in /opt/scripts
  template:
   src: "{{ item }}.j2"
   dest: "/opt/scripts/{{ item }}"
   group: "{{ app_deploy_user }}"
   owner: root
   mode: 0550
  with_items:
  - "middleware-push-config.sh"
  - "middleware-push-whitelist.sh"
  - "middleware-push-institution.sh"


- name: Put symlinks to middleware configuration scripts in /root
  file:
    src: "/opt/scripts/{{ item.key }}"
    dest: "/root/{{ item.value }}"
    group: "{{ app_deploy_user }}"
    owner: root
    state: link
    force: true
  with_dict:
    "middleware-push-config.sh": "02-middleware-config.sh"
    "middleware-push-whitelist.sh": "04-middleware-whitelist.sh"
    "middleware-push-institution.sh": "05-middleware-institution.sh"

- name: Show database configuration hint
  debug:
    msg: "Note: Database initialisation/migration must be run manually once. Run '/root/01-middleware-db_migrate.sh' and '/root/01-gateway-db_migrate.sh' on an app server."

- name: Show middleware configuration hint
  debug:
    msg: "Note: The configuration of the middleware component using its REST interface must be performed manually. The (updated) configuration was written to the app servers, but is was not pushed to the middleware. Run '/root/02-middleware-config.sh', '/root/04-middleware-whitelist.sh' and '/root/05-middleware-institution.sh' on an app server."

- name: Show SRAA user bootstrap hint
  debug:
    msg: "Note: The first SRAA user(s) must be provisioned manually. Run '/root/06-middleware-bootstrap-sraa-users.sh' on an app server."
