[Unit]
Description=Kibana4
Requires=network.target
After=network.target

[Service]
User=kibana
Group=kibana
ExecStart=/opt/kibana4/kibana/bin/kibana
SuccessExitStatus=143
Restart=always
StandardOutput=syslog
StandardError=syslog
Environment='NODE_ENV=production'
SyslogIdentifier=kibana4

[Install]
WantedBy=multi-user.target