#!/bin/bash
# Add sraa users with their yubikey ID without using the ra interface.
# The NameIDs of these users must also be listed in the sraa array in the middleware configuration
# This must be run once from an app server after setting up a new stepup environment

pushd /opt/www/{{ middleware_vhost_name }}
#Format: php app/console middleware:bootstrap:identity-with-yubikey --env=prod <nameID> <schachomeorganization> <common name> <email> <preferred locale> <modhex yubikeyid>
{% for sraa in middleware_sraa %}
php app/console middleware:bootstrap:identity-with-yubikey --env=prod {{ sraa.nameid }} {{ sraa.institution }} "{{ sraa.cn }}" {{ sraa.email }} {{ sraa.lang }} {{ sraa['yubikey_id'] }}
{% endfor %}
popd