#!/bin/bash

# Script to write the middleware config

output=`curl -XPOST -i -s \
    -u management:{{ management_password | vault(vault_keydir) }} \
    -H "Accept: application/json" \
    -H "Content-type: application/json" \
    -d @/root/middleware-config.json \
    http://middleware.{{ app_domain }}/management/configuration`

echo $output

res=$#
if [ $res -ne "0" ]; then
    echo "Curl failed with code $res"
    exit 1
fi

# Check for HTTP 200
http200_count=`echo "${output}" | grep -c 'HTTP/... 200 OK'`
if [ $http200_count -ne "1" ]; then
    echo "Expected one HTTP... 200 OK in response, found $http200_count"
    exit 2
fi

# On success JSON output should start with: {"status":"OK"
ok_count=`echo "${output}" | grep -c "status"`
if [ $ok_count -ne "1" ]; then
    echo "Expected one JSON \"status: OK\" in response, found $ok_count"
    exit 3
fi

echo "OK. New config pushed"
