# Database configuration for middleware component

- name: Create Middleware database
  mysql_db: name={{ database_middleware_name }} state=present login_user=root login_password={{ mariadb_root_password | vault(vault_keydir) }}

# Both midleware and gateway databases are managed using middleware app/console (for now)
- name: Create Gateway database
  mysql_db: name={{ database_gateway_name }} state=present login_user=root login_password={{ mariadb_root_password | vault(vault_keydir) }}


- name: Create middleware deploy user with ALL access to middleware and gateway database
  mysql_user:
    name: "{{ database_middleware_deploy_user }}"
    host: "%"
    password: "{{ database_middleware_deploy_password | vault(vault_keydir) }}"
    priv: "{{ database_gateway_name }}.*:ALL\ PRIVILEGES,GRANT/{{ database_middleware_name }}.*:ALL\ PRIVILEGES,GRANT/{{ database_u2f_name }}.*:ALL\ PRIVILEGES,GRANT"
    login_host: "127.0.0.1"
    login_user: "root"
    login_password: "{{ mariadb_root_password | vault(vault_keydir) }}"


# Access to middleware and gateway databases
# TODO: Tighten DB user rights
- name: Create DB user for Middleware component
  mysql_user:
    name: "{{ database_middleware_user }}"
    host: "%"
    password: "{{ database_middleware_password | vault(vault_keydir) }}"
    priv: "{{ database_middleware_name }}.*:SELECT,INSERT,DELETE,UPDATE/{{ database_gateway_name }}.*:SELECT,INSERT,DELETE,UPDATE"
    login_host: "127.0.0.1"
    login_user: "root"
    login_password: "{{ mariadb_root_password | vault(vault_keydir) }}"

- name: Create middleware read-only user
  mysql_user:
    name: "{{ database_middleware_readonly_user }}"
    host: "%"
    password: "{{ database_middleware_readonly_password | vault(vault_keydir) }}"
    priv: "{{ database_middleware_name }}.*:SELECT"
    login_host: "127.0.0.1"
    login_user: "root"
    login_password: "{{ mariadb_root_password | vault(vault_keydir) }}"
  when: database_middleware_readonly_user is defined
