input {
  file {
    type => "nginx_access"
    path => ["/var/log/nginx/*access.log"]
    discover_interval => 10
  }
  file {
    type => "nginx_error"
    path => ["/var/log/nginx/*error.log"]
    discover_interval => 10
  }
}

filter {
  if [type] == "nginx_access" { 
    grok {
      break_on_match => false
      match => ["path","%{GREEDYDATA}/%{GREEDYDATA:application}_access\.log"]
      match => ["message", "%{COMBINEDAPACHELOG} %{QS:process_time}"] 
    }
  }
  if [type] == "nginx_error" {
    grok {
      break_on_match => false
      match => ["path","%{GREEDYDATA}/%{GREEDYDATA:application}_error\.log"]
      match => ["message", "%{DATESTAMP:timestamp} \[%{GREEDYDATA:level}\] %{NUMBER:pid}#%{NUMBER:tid}: \*%{NUMBER:cid} %{GREEDYDATA:error}"]
    }
  }
}
