parameters:
    secret:               {{ tiqr_secret | vault(vault_keydir) }}

    # All locales supported by the application
    locales:
        - nl_NL
        - en_GB

    # SAML configuration

    saml_idp_publickey: '{{ component_dir_name }}/app/config/cert.pem'
    saml_idp_privatekey: '{{ component_dir_name }}/app/config/key.pem'
    # NOTE: same key used for metadata and response/assertion signing
    saml_metadata_publickey: '{{ component_dir_name }}/app/config/cert.pem'
    saml_metadata_privatekey: '{{ component_dir_name }}/app/config/key.pem'

    saml_remote_sp_entity_id: 'https://{{ gateway_vhost_name }}/gssp/tiqr/metadata'
    # saml_remote_sp_sso_url: '?'
    saml_remote_sp_certificate: '{{ component_dir_name }}/app/config/gateway.crt'
    saml_remote_sp_acs: 'https://{{ gateway_vhost_name }}/gssp/tiqr/consume-assertion'

    base_url: 'https://{{ tiqr_vhost_name }}'
    tiqr_identity: {{ tiqr_vhost_name }}

    # View parameters
    support_url:
        en_GB: "https://wiki.surfnet.nl/pages/viewpage.action?pageId=50110322"
        nl_NL: "https://wiki.surfnet.nl/display/SsID/FAQ+SURFsecureID"

    # Options for the tiqr library
    tiqr_library_options:
        general:
            identifier: '%tiqr_identity%'
            name: 'OpenConext Stepup'
            auth_protocol: 'tiqrauth'
            enroll_protocol: 'tiqrenroll'
            ocra_suite: 'OCRA-1:HOTP-SHA1-6:QH10-S'
            logoUrl: '%base_url%/tiqrRGB.png'
            infoUrl: 'https://wiki.surfnet.nl/display/SsID/SURFsecureID+support'
        library: []
        gcm:
{% if tiqr_gcm_apikey is defined %}
          apikey: '{{ tiqr_gcm_apikey | vault(vault_keydir) }}'
{% endif %}
          application: 'nl.surfnet.authenticator'
        apns:
{% if tiqr_apns_pemfile is defined %}
          certificate: '{{ component_dir_name }}/{{ tiqr_apns_pemfile }}'
{% endif %}
          environment: production
        accountblocking:
            maxAttempts: 5
            # temporarilyBlockDuration:
            # maxTemporarilyBlocks:
        storage:
            statestorage:
              type: 'file'
              arguments:
                  path: '/tmp'
            userstorage:
                type: 'file'
                arguments:
                  path: '/tmp'
                  encryption: 'dummy'
            devicestorage:
            usersecretstorage:
                type: 'file'
                arguments:
                    path: '/tmp'
