{
    "trustedFacets": [{
        "version": {"major": 1, "minor": 0},
        "ids": [
            "https://{{ selfservice_vhost_name }}",
            "https://{{ ra_vhost_name }}",
            "https://{{ gateway_vhost_name }}"
        ]
    }]
}
