parameters:
    # the routes should be kept as is, they map to specific URLs on the gateway
    gssp_routes_sso: gssp_verify
    gssp_routes_consume_assertion: gssp_consume_assertion
    gssp_routes_metadata: gssp_saml_metadata

    # A list of service provider entity IDs that are allowed to send AuthnRequests to the GSSPs
    gssp_allowed_sps: [ 'https://{{ selfservice_vhost_name }}/registration/gssf/tiqr/metadata', 'https://{{ ra_vhost_name }}/vetting-procedure/gssf/tiqr/metadata' ]


    # tiqr should be enabled
    gssp_tiqr_enabled: true

    # Authentication flow:
    # Real Tiqr IdP <--> GSSP Tiqr SP <--> GSSP Tiqr IdP <--> RA | SS
    # AuthnRequests from the RA and SS are proxied through the Tiqr GSSP proxy on the Gateway
    # The GSSP Tiqr SP and IdP are hosted on the gateway

    # Tiqr SP Proxy for authenticating with the real (i.e. external) tiqr IdP
    gssp_tiqr_sp_publickey: {{ component_dir_name }}/app/config/sp_tiqr.crt
    gssp_tiqr_sp_privatekey: {{ component_dir_name }}/app/config/sp_tiqr.key

    # Certificate and private key of Tiqr SAML IdP Proxy for use by RA and SS
    gssp_tiqr_idp_publickey: {{ component_dir_name }}/app/config/idp_tiqr.crt
    gssp_tiqr_idp_privatekey: {{ component_dir_name }}/app/config/idp_tiqr.key

    # Metadata signing cert and key for tiqr SP/IdP proxy
    gssp_tiqr_metadata_publickey: {{ component_dir_name }}/app/config/idp_tiqr.crt
    gssp_tiqr_metadata_privatekey: {{ component_dir_name }}/app/config/idp_tiqr.key

    # Real (i.e. external) Tiqr IdP
    gssp_tiqr_remote_entity_id: {{ gateway_tiqr_remote_entity_id }}
    gssp_tiqr_remote_sso_url: {{ gateway_tiqr_remote_sso_url }}
    gssp_tiqr_remote_certificate: {{ gateway_tiqr_remote_certificate }}


    # Biometric GSSP is disabled
    gssp_biometric_enabled: false

    # Authentication flow:
    # Real Biometric IdP <--> GSSP Biometric SP <--> GSSP Biometric IdP <--> RA | SS
    # AuthnRequests from the RA and SS are proxied through the Biometric GSSP proxy on the Gateway
    # The GSSP Biometric SP and IdP are hosted on the gateway

    # Biometric SP Proxy for authenticating with the real (i.e. external) biometric IdP
    gssp_biometric_sp_publickey: {{ component_dir_name }}/app/config/sp_biometric.crt
    gssp_biometric_sp_privatekey: {{ component_dir_name }}/app/config/sp_biometric.key

    # Certificate and private key of the Biometric SAML IdP Proxy for use by RA and SS
    gssp_biometric_idp_publickey: {{ component_dir_name }}/app/config/idp_biometric.crt
    gssp_biometric_idp_privatekey: {{ component_dir_name }}/app/config/idp_biometric.key

    # Metadata signing cert and key for Biometric SP/IdP proxy
    gssp_biometric_metadata_publickey: {{ component_dir_name }}/app/config/idp_biometric.crt
    gssp_biometric_metadata_privatekey: {{ component_dir_name }}/app/config/idp_biometric.key

    # Real (i.e. external) Biometric IdP
    gssp_biometric_remote_entity_id: {{ gateway_biometric_remote_entity_id }}
    gssp_biometric_remote_sso_url: {{ gateway_biometric_remote_sso_url }}
    gssp_biometric_remote_certificate: {{ gateway_biometric_remote_certificate }}
