{#
# This template is used to generate the institution-config
#
# For more information see:
# https://github.com/OpenConext/Stepup-Middleware/blob/master/docs/MiddlewareConfiguration.md#using-the-institution-configuration-api
#
# To apply changes made here you need to push a new insitution configuration to Stepup-Middleware component
# on an app server. There are two ways to do this using Stepup-Deploy:
# 1) Use the push-config.sh script in the Stepup-Deploy repo
# 2) Redeploy the Stepup-Middleware component using the deploy.sh script in the Stepup-Deploy repo and then
#    on the app sever execute /root/05-middleware-institution.sh
#
# TODO: Remove the default configuration
# TODO: Set institution specific configuration here. If no configuration is specified for an institution,
#       the default values are used
#}
{
  {# The default admin user is a member of this institution #}
  "stepup.example.com": {
    "use_ra_locations": true,
    "show_raa_contact_information": true,
    "verify_email": false,
    "allowed_second_factors": [],
    "number_of_tokens_per_identity": 5
  },
  "institution-a.example.com": {
    "use_ra_locations": true,
    "show_raa_contact_information": true,
    "verify_email": true,
    "allowed_second_factors": [],
    "number_of_tokens_per_identity": 2
  },
  "institution-b.example.com": {
    "use_ra_locations": false,
    "show_raa_contact_information": true,
    "verify_email": false,
    "allowed_second_factors": [],
    "number_of_tokens_per_identity": 1
  },
  "institution-d.example.com": {
    "use_ra_locations": true,
    "show_raa_contact_information": false,
    "verify_email": true,
    "allowed_second_factors": ["yubikey", "tiqr"],
    "number_of_tokens_per_identity": 1
  },
  "institution-f.example.com": {
    "use_ra_locations": true,
    "show_raa_contact_information": false,
    "verify_email": false,
    "allowed_second_factors": [ ],
    "number_of_tokens_per_identity": 2,
    "use_ra": [ "institution-f.example.com", "institution-a.example.com", "institution-b.example.com" ],
    "use_raa": [ "institution-f.example.com", "institution-a.example.com" ],
    "select_raa": [ "institution-f.example.com" ]
  },
  "institution-g.example.com": {
    "use_ra_locations": true,
    "show_raa_contact_information": true,
    "verify_email": false,
    "allowed_second_factors": [ ],
    "number_of_tokens_per_identity": 2,
    "use_ra": [ "institution-g.example.com" ],
    "use_raa": [ "institution-g.example.com" ],
    "select_raa": [ "institution-h.example.com", "institution-g.example.com" ]
  },
  "institution-v.example.com": {
    "use_ra_locations": true,
    "show_raa_contact_information": true,
    "verify_email": false,
    "allowed_second_factors": [ ],
    "number_of_tokens_per_identity": 2,
    "use_ra": [ ],
    "use_raa": [ ],
    "select_raa": [ "institution-a.example.com", "institution-b.example.com" ]
  },
  "institution-i.example.com": {
    "use_ra_locations": true,
    "show_raa_contact_information": true,
    "verify_email": false,
    "allowed_second_factors": [ ],
    "number_of_tokens_per_identity": 2,
    "use_ra": [ "institution-v.example.com" ],
    "use_raa": [ "institution-v.example.com" ],
    "select_raa": [ ]
  }

}