{#
# This template is used to generate the middleware-whitelist
#
# For more information see:
# https://github.com/OpenConext/Stepup-Middleware/blob/master/docs/MiddlewareConfiguration.md#using-the-whitelist-api
#
# To apply changes made here you need to push a new insitution whitelist to Stepup-Middleware component
# on an app server. There are two ways to do this:
# 1) Use the push-config.sh script in the Stepup-Deploy repo
# 2) Redeploy the Stepup-Middleware component using the deploy.sh script in the Stepup-Deploy repo and then
#    on the app sever execute /root/04-middleware-whitelist.sh
#
# TODO: Remove the example configuraton
# TODO: Add the schacHomeOrganization attributes values of the institutions that are allowd to use the
#       second factor functionality to the list below. Only users with a schacHomeOrganization on this
#       list are allowed to authenticate with a second factor or login to the SelfService and RA portals.
#}
{
    "institutions": [
        "stepup.example.com",
        "institution-a.example.com",
        "institution-b.example.com",
        {# no institution-c.example.com #}
        "institution-d.example.com",
        "institution-e.example.com",
        "institution-f.example.com",
        "institution-g.example.com",
        "institution-h.example.com",
        "institution-i.example.com",
        "institution-j.example.com",
        "institution-v.example.com"
    ]
}